<div class="card">
  <div class="card-header">{{ pageTitle }}</div>
  <div class="card-body" *ngIf="products">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4"><input type="text" [(ngModel)]="filterText" /></div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h4>Filtered by: {{ ratingMessage }}</h4>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table">
        <thead style="color: #337AB7">
          <tr>
            <th>
              <button class="btn btn-primary" (click)="toggleImage()">
                show image
              </button>
            </th>
            <th>Product</th>
            <th>Code</th>
            <th>Available</th>
            <th>Price</th>
            <th>5 Star Rating</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of filterProducts">
            <td>
              <img
                *ngIf="isShowImage"
                [src]="product.imageUrl"
                [style.width.px]="imageWidth"
                [style.height.px]="imageHeight"
              />
            </td>
            <td>
              <a [routerLink]="['/product', product.id]">
                {{ product.productName }}</a
              >
            </td>
            <td>{{ product.productCode | lowercase | tospace: "-" }}</td>
            <td>{{ product.releaseDate | date }}</td>
            <td>{{ product.price | currency: "INR":"symbol":"2.2-3" }}</td>
            <td>
              <app-star
                [rating]="product.starRating"
                (showRating)="getStarRate($event)"
              ></app-star>
            </td>
            <td><button class="btn btn-primary">edit</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
